language: node_js
node_js:
  - '6'

cache:
  directories:
    - node_modules

before_script:
  - npm prune
after_success:
  - npm run semantic-release
  - npm run reparo

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
    - gh-pages

notifications:
  email: false
