@mixin grid($grid, $gap) {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: $grid;
}

@mixin vertical-grid($grid, $gap) {
  display: grid;
  grid-row-gap: $gap;
  grid-template-rows: $grid;
}
