@mixin span($span, $start: false) {
  @if $start {
    grid-column: $start / span $span;
  }
  @else {
    grid-column: span $span;
  }
}

@mixin column-span($span, $start: false) {
  @include span($span, $start);
}

// ----

@mixin vertical-span($span, $start: false) {
  @if $start {
    grid-row: $start / span $span;
  }
  @else {
    grid-row: span $span;
  }
}

@mixin row-span($span, $start: false) {
  @include vertical-span($span, $start);
}
